
<footer class="pt-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6 class="text-light">Links</h6>
                <ul class="text-light">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/products">PRODUCTS</a></li>
                    <li><a href="/contacts">CONTACTS</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="text-light">Sitemap</h6>
                <ul class="text-light">
                    <li>Page 1</li>
                    <li>Page 2</li>
                    <li>Page 3</li>
                    <li>Page 4</li>
                    <li>Page 5</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="text-light">External</h6>
                <ul class="text-light">
                    <li>External 1</li>
                    <li>External 2</li>
                    <li>External 3</li>
                    <li>External 4</li>
                    <li>External 5</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6  class="text-light">Contacts</h6>
                <ul  class="text-light">
                    <li>Phone: 0712345678</li>
                    <li>Email: info@onlineshopping.com</li>
                    <li>Location: Haven Court, Westlands Nairobi</li>
                    <li>P.O. Box: 9999 - 000100</li>
                    <li>Nairobi, Kenya</li>
                </ul>
            </div>
        </div>
    </div>


</footer>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/popper.js"></script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>