{% include "header.html" %}


<div class="jumbotron">
    <h1>Welcome to Online Shopping</h1>
</div>

<div class="container">
    <h3 class="text-center">Why Choose Us</h3>

    <div class="row pb-5">
        <div class="col-md-6">
            <h4>Welcome to online shopping</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fuga magni quaerat quisquam sapiente sit? Consectetur doloremque dolores eveniet facere illo iusto odio quis rem repellat sequi, sint veniam vitae.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fuga magni quaerat quisquam sapiente sit? Consectetur doloremque dolores eveniet facere illo iusto odio quis rem repellat sequi, sint veniam vitae.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fuga magni quaerat quisquam sapiente sit? Consectetur doloremque dolores eveniet facere illo iusto odio quis rem repellat sequi, sint veniam vitae.
            </p>
            <a class="btn btn-primary" href="/about">Learn More</a>
        </div>
        <div class="col-md-6">
            <img src="../static/img/pic_01.png" alt="image here" class="img-fluid">
        </div>
    </div>
    <h3 class="text-center pb-5">What We Do</h3>
    <div class="row pb-5">


        <div class="col-md-4">
            <img src="../static/img/pic_03.png" alt="" class="rounded-circle img-fluid">
            <h5 class="pt-5">Shopping</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque cupiditate ea facere illum in incidunt nemo nostrum ut velit. Amet autem minima mollitia odio officiis quam quisquam, rerum vel.<a href="/about"> Learn More..</a></p>
        </div>
        <div class="col-md-4">
            <img src="../static/img/pic_04.jpg" alt="" class="rounded-circle img-fluid">
            <h5 class="pt-5">Delivery</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eum ex harum incidunt ipsum praesentium, provident ratione rem soluta? Aperiam laudantium, quasi. Incidunt ipsa maxime veniam? Aut modi quas quo?<a href="/about"> Learn More..</a></p>
        </div>
        <div class="col-md-4">
            <img src="../static/img/pic_05.jpg" alt="" class="rounded-circle img-fluid">
            <h5 class="pt-5">Returns</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis consequatur culpa deserunt distinctio dolore esse ex inventore ipsum officia officiis placeat quam quasi quis rem vel voluptatem. Doloremque, quia.<a href="/about"> Learn More..</a></p>
        </div>
    </div>


</div>


{% include "footer.html" %}