{% include "header.html" %}

<div class="jumbotron">
    <div class="container">
        <h1>Register Below</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Enter your credentials to login below</h3>
                    <h4 class="text-success">{{ msg }}</h4>
                </div>
                <div class="card-body">
                    <form action="/login-user" method="POST">
                        <input type="email" name="email" placeholder="Your Email Address"><br><br>
                        <input type="password" name="password" placeholder="Password"><br><br>
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Alternatively</h3>
                </div>
                <div class="card-body">
                    <p>Not Registered?, <a href="/register">Register </a> here</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}