{% include "header.html" %}


<div class="jumbotron">
    <div class="container">
        <h1>Products</h1>
    </div>
</div>

<div class="container">
    <!--- the card below will be our products template  -->
    <div class="row">

        {% for row in result %}
        <div class="col-md-3">
            <div class="card">
                <img src="../static/img/placeholder.png" alt="product image" class="img-fluid">
                <div class="card-body">
                    <h5>{{ row[1] }}</h5>
                    <p>{{ row[3] }}</p>
                    <h6>{{ row[2] }}</h6>
                    <a href="" class="btn btn-danger">Buy Now</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    
</div>


{% include "footer.html" %}